<a href="https://colab.research.google.com/github/hcantekin/hcantekin.github.io/blob/main/BigOildatacleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
pd.read_html('test.html')

In [ ]:
Shell= pd.read_html('shell_rev.html')

In [ ]:
Exxon = pd.read_html('XM_rev.html')

In [ ]:
len(Shell),len(Exxon)

(1, 1)

In [ ]:
pd.read_html('shell_rev.html')

[    Shell Annual Revenue(Millions of US $)  \
 0                                     2021
 1                                     2020
 2                                     2019
 3                                     2018
 4                                     2017
 5                                     2016
 6                                     2015
 7                                     2014
 8                                     2013
 9                                     2012
 10                                    2011
 11                                    2010
 12                                    2009

    Shell Annual Revenue(Millions of US $).1
 0                                  $272,657
 1                                  $183,195
 2                                  $352,106
 3                                  $396,556
 4                                  $311,870
 5                                  $240,033
 6                                  $272,156
 7                                  $431,344
 8                                  $459,599
 9                                  $481,700
 10                                 $484,489
 11                                 $378,152
 12                                 $285,129  ]

In [ ]:
sh= np.array(Shell)
xm= np.array(Exxon)

In [ ]:
SH= sh.reshape(13,2)
XM= xm.reshape(13,2)

In [ ]:
print(SH)
print(XM)

[[2021 '$272,657']
 [2020 '$183,195']
 [2019 '$352,106']
 [2018 '$396,556']
 [2017 '$311,870']
 [2016 '$240,033']
 [2015 '$272,156']
 [2014 '$431,344']
 [2013 '$459,599']
 [2012 '$481,700']
 [2011 '$484,489']
 [2010 '$378,152']
 [2009 '$285,129']]
[[2021 '$64,202']
 [2020 '$30,942']
 [2019 '$53,786']
 [2018 '$64,695']
 [2017 '$53,352']
 [2016 '$44,475']
 [2015 '$53,349']
 [2014 '$83,480']
 [2013 '$89,755']
 [2012 '$110,658']
 [2011 '$106,151']
 [2010 '$84,805']
 [2009 '$63,998']]

In [ ]:
Tot= np.concatenate((SH, XM), axis=1)
print(Tot)

[[2021 '$272,657' 2021 '$64,202']
 [2020 '$183,195' 2020 '$30,942']
 [2019 '$352,106' 2019 '$53,786']
 [2018 '$396,556' 2018 '$64,695']
 [2017 '$311,870' 2017 '$53,352']
 [2016 '$240,033' 2016 '$44,475']
 [2015 '$272,156' 2015 '$53,349']
 [2014 '$431,344' 2014 '$83,480']
 [2013 '$459,599' 2013 '$89,755']
 [2012 '$481,700' 2012 '$110,658']
 [2011 '$484,489' 2011 '$106,151']
 [2010 '$378,152' 2010 '$84,805']
 [2009 '$285,129' 2009 '$63,998']]

In [ ]:
df=pd.DataFrame(Tot, columns= ['Year', 'Shell', 'Year2', 'Exxon'])
print(df)

    Year     Shell Year2     Exxon
0   2021  $272,657  2021   $64,202
1   2020  $183,195  2020   $30,942
2   2019  $352,106  2019   $53,786
3   2018  $396,556  2018   $64,695
4   2017  $311,870  2017   $53,352
5   2016  $240,033  2016   $44,475
6   2015  $272,156  2015   $53,349
7   2014  $431,344  2014   $83,480
8   2013  $459,599  2013   $89,755
9   2012  $481,700  2012  $110,658
10  2011  $484,489  2011  $106,151
11  2010  $378,152  2010   $84,805
12  2009  $285,129  2009   $63,998

In [ ]:
del df['Year2']

In [ ]:
print(df)

    Year     Shell     Exxon
0   2021  $272,657   $64,202
1   2020  $183,195   $30,942
2   2019  $352,106   $53,786
3   2018  $396,556   $64,695
4   2017  $311,870   $53,352
5   2016  $240,033   $44,475
6   2015  $272,156   $53,349
7   2014  $431,344   $83,480
8   2013  $459,599   $89,755
9   2012  $481,700  $110,658
10  2011  $484,489  $106,151
11  2010  $378,152   $84,805
12  2009  $285,129   $63,998

In [ ]:
df.stack().reset_index()

In [ ]:
df2= df.set_index(['Year']).stack().reset_index()
print(df2)

In [ ]:
df3= df2.rename(columns={'level_1':'Company', 0:'Annual Revenue (Millions of USD)'})
print(df3)

    Year Company Annual Revenue (Millions of USD)
0   2021   Shell                         $272,657
1   2021   Exxon                          $64,202
2   2020   Shell                         $183,195
3   2020   Exxon                          $30,942
4   2019   Shell                         $352,106
5   2019   Exxon                          $53,786
6   2018   Shell                         $396,556
7   2018   Exxon                          $64,695
8   2017   Shell                         $311,870
9   2017   Exxon                          $53,352
10  2016   Shell                         $240,033
11  2016   Exxon                          $44,475
12  2015   Shell                         $272,156
13  2015   Exxon                          $53,349
14  2014   Shell                         $431,344
15  2014   Exxon                          $83,480
16  2013   Shell                         $459,599
17  2013   Exxon                          $89,755
18  2012   Shell                         $481,700
19  2012   Exxon                         $110,658
20  2011   Shell                         $484,489
21  2011   Exxon                         $106,151
22  2010   Shell                         $378,152
23  2010   Exxon                          $84,805
24  2009   Shell                         $285,129
25  2009   Exxon                          $63,998