<a href="https://colab.research.google.com/github/hcantekin/hcantekin.github.io/blob/main/CEB_XS_json.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [3]:
df=pd.read_csv('CEB_XS.csv')

In [5]:
df

        XS        Year     Value
0   Female  1996-01-01  12.65637
1   Female  1997-01-02  12.98682
2   Female  1998-01-04  13.35171
3   Female  1999-01-06  13.78143
4   Female  2000-01-08  14.04880
..     ...         ...       ...
67   Total  2015-02-03  15.59954
68   Total  2016-02-05  15.52002
69   Total  2017-02-06  15.53714
70   Total  2018-02-08  15.44413
71   Total  2019-02-10  15.24412

[72 rows x 3 columns]

In [7]:
CEB_XS = list(df.T.to_dict().values())

In [9]:
import json

In [11]:
open('CEB_XS_json','w').write(json.dumps(CEB_XS))

4388