<a href="https://colab.research.google.com/github/hcantekin/hcantekin.github.io/blob/main/data_USAconfidence.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [17]:
import pandas as pd
import json

In [18]:
df = pd.read_csv('data_gss_youthconf.csv')

In [19]:
df

    Year     Age  Confidence
0    1973  18-30      14.321
1    1974  18-30      19.165
2    1975  18-30      26.464
3    1976  18-30      22.947
4    1977  18-30      16.209
..    ...    ...         ...
88   2012  56-88      60.586
89   2014  56-88      64.262
90   2016  56-88      63.128
91   2018  56-88      55.814
92   2021  56-88      59.049

[93 rows x 3 columns]

In [20]:
Youth_conf = list(df.T.to_dict().values())
open('Youth_conf.json','w').write(json.dumps(Youth_conf))

5101