<a href="https://colab.research.google.com/github/hcantekin/hcantekin.github.io/blob/main/supermarket_data_cleaned.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
Supermarkets= pd.read_html('supermarkets_table.html')
print(Supermarkets)

In [ ]:
sm= np.array(Supermarkets)
SM= sm.reshape(19,10)
print(SM)

In [ ]:
df= pd.DataFrame(SM, columns= ['Supermarket', 'Image', 'Founded/came to UK', 'Owned By', '2021-01-01','2007-01-01', '2000-01-01', 'Number of stores', 'Types of stores', 'Notes'])
print(df)

               Supermarket Image Founded/came to UK  \
0                    Tesco   NaN               1919
1              Sainsbury's   NaN               1869
2                     Asda   NaN               1949
3                Morrisons   NaN               1899
4                     Aldi   NaN               1990
5                     Lidl   NaN               1994
6               Co-op Food   NaN               1844
7      Waitrose & Partners   NaN               1904
8                  Iceland   NaN               1970
9                    Ocado   NaN               2002
10            Amazon Fresh   NaN               2021
11             B&M express   NaN               2018
12                  Booths   NaN               1847
13                 Budgens   NaN               1872
14               Farmfoods   NaN               1955
15          Fulton's Foods   NaN               1974
16             Heron Foods   NaN               1979
17         Marks & Spencer   NaN               1884
18  Proudfoot Supermarkets   NaN               1948

                                             Owned By 2021-01-01 2007-01-01  \
0         Publicly traded on theLondon Stock Exchange       27.7       31.6
1         Publicly traded on theLondon Stock Exchange       15.5       16.2
2   TDR Capital (50%)Zuber Issa (25%)Mohsin Issa (...       14.6       16.6
3                        Clayton, Dubilier & Rice[18]        9.8       11.2
4                                      Aldi SÃ¼d GmbH        8.0        2.6
5                              Lidl Stiftung & Co. KG        6.1        2.2
6                    Various consumers' co-operatives        5.7        4.4
7                              John Lewis Partnership        5.0        3.9
8                                  UK private company        2.3        1.6
9         Publicly traded on theLondon Stock Exchange        1.8          -
10                                             Amazon          -          -
11                                                B&M          -          -
12                             Booth Family and staff          -          -
13                Booker Group,[13] part of Tesco Plc          -        0.4
14                                 UK private company          -        0.5
15                                          Poundland          -          -
16                                                B&M          -          -
17        Publicly traded on theLondon Stock Exchange          -    4.3[17]
18                                       Family owned        NaN        NaN

   2000-01-01 Number of stores  \
0        25.0   3,443 (UK)[19]
1        17.9             1430
2        14.1              603
3         4.9              542
4         1.5           960[9]
5         1.3              760
6         5.4        2,500[14]
7         2.7              344
8         2.8             1030
9           -                0
10          -           19[10]
11          -          702[11]
12          -               28
13        0.4              190
14          -              320
15          -              100
16          -              290
17          -              852
18        NaN                5

                                      Types of stores  \
0   Tesco Extra  Tesco Superstores  Tesco Metro  T...
1   Sainsbury's (superstores)  Sainsbury's Local  ...
2   Asda Supercentre  Asda Superstore  Asda Superm...
3            Morrisons (superstores)  Morrisons Daily
4                                                 NaN
5                                                 NaN
6                                                 NaN
7   Waitrose  Little Waitrose  John Lewis Foodhall...
8                         Iceland  The Food Warehouse
9                                                 NaN
10                                                NaN
11                                                NaN
12                                                NaN
13                                                NaN
14                                                NaN
15                                                NaN
16                                                NaN
17                                                NaN
18                                                NaN

                                                Notes
0   Premier shops are independently owned stores o...
1                                                 NaN
2   Founded from the merger of Associated Dairies ...
3   Fourth biggest supermarket in the UK. From 201...
4                               No frills supermarket
5                               No frills supermarket
6   Identities shared by about 20 retail co-operat...
7                                                 NaN
8   First store opened at Oswestry, Shropshire in ...
9   Online only, product supply partnership with M&S.
10                                  Cashierless store
11  Conversion of Heron Foods under new faceplate....
12  Found in Lancashire,Greater Manchester,Cumbria...
13  Found in England and Wales, with stores up to ...
14                                                NaN
15  Small supermarket chain based in South Yorkshi...
16  Primarily frozen foods; operates stores throug...
17                         Clothing and food retailer
18  Small independent chain operating in North Yor...

In [ ]:
del df['Image']

In [ ]:
del df['Notes']

In [ ]:
del df['Owned By']
del df['Types of stores']

In [ ]:
del df['Founded/came to UK']
del df['Number of stores']
print(df)

               Supermarket 2021-01-01 2007-01-01 2000-01-01
0                    Tesco       27.7       31.6       25.0
1              Sainsbury's       15.5       16.2       17.9
2                     Asda       14.6       16.6       14.1
3                Morrisons        9.8       11.2        4.9
4                     Aldi        8.0        2.6        1.5
5                     Lidl        6.1        2.2        1.3
6               Co-op Food        5.7        4.4        5.4
7      Waitrose & Partners        5.0        3.9        2.7
8                  Iceland        2.3        1.6        2.8
9                    Ocado        1.8          -          -
10            Amazon Fresh          -          -          -
11             B&M express          -          -          -
12                  Booths          -          -          -
13                 Budgens          -        0.4        0.4
14               Farmfoods          -        0.5          -
15          Fulton's Foods          -          -          -
16             Heron Foods          -          -          -
17         Marks & Spencer          -    4.3[17]          -
18  Proudfoot Supermarkets        NaN        NaN        NaN

In [ ]:
df2= df.drop(labels=[9,10,11,12,13,14,15,16,17,18], axis=0)
print(df2)

           Supermarket 2021-01-01 2007-01-01 2000-01-01
0                Tesco       27.7       31.6       25.0
1          Sainsbury's       15.5       16.2       17.9
2                 Asda       14.6       16.6       14.1
3            Morrisons        9.8       11.2        4.9
4                 Aldi        8.0        2.6        1.5
5                 Lidl        6.1        2.2        1.3
6           Co-op Food        5.7        4.4        5.4
7  Waitrose & Partners        5.0        3.9        2.7
8              Iceland        2.3        1.6        2.8

In [ ]:
df3= df2.stack().reset_index()
print(df3)

    level_0      level_1                    0
0         0  Supermarket                Tesco
1         0   2021-01-01                 27.7
2         0   2007-01-01                 31.6
3         0   2000-01-01                 25.0
4         1  Supermarket          Sainsbury's
5         1   2021-01-01                 15.5
6         1   2007-01-01                 16.2
7         1   2000-01-01                 17.9
8         2  Supermarket                 Asda
9         2   2021-01-01                 14.6
10        2   2007-01-01                 16.6
11        2   2000-01-01                 14.1
12        3  Supermarket            Morrisons
13        3   2021-01-01                  9.8
14        3   2007-01-01                 11.2
15        3   2000-01-01                  4.9
16        4  Supermarket                 Aldi
17        4   2021-01-01                  8.0
18        4   2007-01-01                  2.6
19        4   2000-01-01                  1.5
20        5  Supermarket                 Lidl
21        5   2021-01-01                  6.1
22        5   2007-01-01                  2.2
23        5   2000-01-01                  1.3
24        6  Supermarket           Co-op Food
25        6   2021-01-01                  5.7
26        6   2007-01-01                  4.4
27        6   2000-01-01                  5.4
28        7  Supermarket  Waitrose & Partners
29        7   2021-01-01                  5.0
30        7   2007-01-01                  3.9
31        7   2000-01-01                  2.7
32        8  Supermarket              Iceland
33        8   2021-01-01                  2.3
34        8   2007-01-01                  1.6
35        8   2000-01-01                  2.8

In [ ]:
df3= df2.set_index(['Supermarket']).stack().reset_index()
print(df3)

            Supermarket     level_1     0
0                 Tesco  2021-01-01  27.7
1                 Tesco  2007-01-01  31.6
2                 Tesco  2000-01-01  25.0
3           Sainsbury's  2021-01-01  15.5
4           Sainsbury's  2007-01-01  16.2
5           Sainsbury's  2000-01-01  17.9
6                  Asda  2021-01-01  14.6
7                  Asda  2007-01-01  16.6
8                  Asda  2000-01-01  14.1
9             Morrisons  2021-01-01   9.8
10            Morrisons  2007-01-01  11.2
11            Morrisons  2000-01-01   4.9
12                 Aldi  2021-01-01   8.0
13                 Aldi  2007-01-01   2.6
14                 Aldi  2000-01-01   1.5
15                 Lidl  2021-01-01   6.1
16                 Lidl  2007-01-01   2.2
17                 Lidl  2000-01-01   1.3
18           Co-op Food  2021-01-01   5.7
19           Co-op Food  2007-01-01   4.4
20           Co-op Food  2000-01-01   5.4
21  Waitrose & Partners  2021-01-01   5.0
22  Waitrose & Partners  2007-01-01   3.9
23  Waitrose & Partners  2000-01-01   2.7
24              Iceland  2021-01-01   2.3
25              Iceland  2007-01-01   1.6
26              Iceland  2000-01-01   2.8

In [ ]:
df4= df3.rename(columns={'level_1':'Year', 0:'Market share (%)'})
print(df4)

            Supermarket        Year Market share (%)
0                 Tesco  2021-01-01             27.7
1                 Tesco  2007-01-01             31.6
2                 Tesco  2000-01-01             25.0
3           Sainsbury's  2021-01-01             15.5
4           Sainsbury's  2007-01-01             16.2
5           Sainsbury's  2000-01-01             17.9
6                  Asda  2021-01-01             14.6
7                  Asda  2007-01-01             16.6
8                  Asda  2000-01-01             14.1
9             Morrisons  2021-01-01              9.8
10            Morrisons  2007-01-01             11.2
11            Morrisons  2000-01-01              4.9
12                 Aldi  2021-01-01              8.0
13                 Aldi  2007-01-01              2.6
14                 Aldi  2000-01-01              1.5
15                 Lidl  2021-01-01              6.1
16                 Lidl  2007-01-01              2.2
17                 Lidl  2000-01-01              1.3
18           Co-op Food  2021-01-01              5.7
19           Co-op Food  2007-01-01              4.4
20           Co-op Food  2000-01-01              5.4
21  Waitrose & Partners  2021-01-01              5.0
22  Waitrose & Partners  2007-01-01              3.9
23  Waitrose & Partners  2000-01-01              2.7
24              Iceland  2021-01-01              2.3
25              Iceland  2007-01-01              1.6
26              Iceland  2000-01-01              2.8

In [ ]:
Supermarket_share = list(df4.T.to_dict().values())
import json
open('Supermarket_share.json','w').write(json.dumps(Supermarket_share))

2119